<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= titulo %></h1>
    
    <a href="/equipamentos/novo" class="btn">Cadastrar Novo Equipamento</a>
    <a href="/" style="margin-left: 10px;">Voltar para Home</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patrimônio</th>
                <th>Nome</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <% equipamentos.forEach(eq => { %>
                <tr>
                    <td><%= eq.id %></td>
                    <td><%= eq.patrimonio %></td>
                    <td><%= eq.nome %></td>
                    <td class="status-<%= eq.estado %>"><%= eq.estado.toUpperCase() %></td>
                </tr>
            <% }) %>

            <% if (equipamentos.length === 0) { %>
                <tr>
                    <td colspan="4" style="text-align: center;">Nenhum equipamento cadastrado.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>